modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 33143
externalPort = 3001

[[ports]]
localPort = 34431
externalPort = 3002

[[ports]]
localPort = 35689
externalPort = 3000

[[ports]]
localPort = 42027
externalPort = 3003

[[ports]]
localPort = 42849
externalPort = 80

[[ports]]
localPort = 44447
externalPort = 4200

[[ports]]
localPort = 46503
externalPort = 5000
